*.pid
*.xml
*.csr
*.crt
*.key
*.pyc
*.db-journal
.*
*.conf
**/config
*.sqlite
*.log
*.db
*.uuid
www
lib
deps
tts

OZW_Log.txt
home-assistant.log
home-assistant_v2.db


secrets.yaml
known_devices.yaml
zone.yaml

plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite

!/.gitignore
